.cart-wrapper {
  background: #fff;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.cart-container {
  height: 100vh;
  width: 470px;
  background-color: #fff;
  float: right;
  padding: 20px 10px;
  position: relative;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.cart {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
}

.cart-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100px !important;
  height: 100px !important;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.cart-product-details {
  padding: 0 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.product-name {
  font-size: 18px;
}

.product-price {
  font-size: 16px;
  color: #e74c3c;
  margin-bottom: 10px;
}

.cart-item-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pay-button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 16px;
  margin: 5px 0;
}

.continue-shopping-button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 16px;
  margin: 5px 0;
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.cart-heading .heading {
  margin-left: 10px;
}

.cart-num-items {
  margin-left: 10px;
  color: #f02d34;
}

.empty-cart {
  margin: 40px;
  text-align: center;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}

.empty-cart .btn {
  margin-top: 15px;
}

.cancel {
  cursor: pointer;
}

.cart-product-container {
  overflow: auto;
  max-height: 77vh;
  padding: 10px;
}

.cart-wrapper ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.cart-action-container {
  position: fixed;
  bottom: 0;
}

.cart-action-container .total {
  padding: 7px 20px;
  display: flex;
  gap: 15px;
}

.cart-action-container .btn-container {
  padding: 7px 20px;
  display: flex;
  gap: 10px;
}
.btn {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.remove-item {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.btn-product-compare {
  font-size: 14px;
  margin: 7px 0px 0px;
}
