.compare-products {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}

.compare-products h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.compare-products table {
  width: 100%;
  border-collapse: collapse;
}

.compare-products table th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.compare-products table th {
  background-color: #f2f2f2;
}

.compare-products table td {
  background-color: #fff;
}

.compare-products table .product-image {
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .compare-products table {
    font-size: 14px;
  }
}
