.products-heading {
  text-align: center;
  margin: 40px 0px;
  color: #324d67;
}

.products-heading h2 {
  font-size: 40px;
  font-weight: 800;
}

.products-heading p {
  font-size: 16px;
  font-weight: 200;
}

.grid-products-container {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.table-products-container {
  margin-top: 20px;
  width: 100%;
}

.table-view {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow: auto !important;
}

.table-view th,
.table-view td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-view th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.table-view tbody tr:hover {
  background-color: #f5f5f5;
}

.table-view tbody tr:nth-child(even) {
  background-color: #fafafa;
}
