.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.grid-product-image {
  max-width: 100%;
  height: 200px;
  width: 200px;
}

.product-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  gap: 5px;
}

.product-name {
  font-size: 18px;
}

.product-price {
  font-size: 16px;
  color: #f00;
}

.quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.quantity-desc {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px !important;
}

.quantity-desc button {
  display: flex;
  padding: 6px 15px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  background: transparent;
}

button:disabled {
  cursor: not-allowed;
}

.quantity-desc .minus {
  color: #f02d34;
}

.quantity-desc .num {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.quantity-desc .plus {
  color: rgb(49, 168, 49);
}

.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 10px;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

.add-to-cart-button:disabled {
  background-color: lightgrey;
}

.warning-container .stock-warning {
  font-size: 12px;
  color: #f00;
  margin-top: 10px;
}
