.product-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-info img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 7px;
  border: 1px solid lightgrey;
}

.quantity-desc {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px !important;
  max-width: 150px;
}

.quantity-desc span {
  display: flex;
  padding: 6px 15px;
  font-size: 16px;
  cursor: pointer;
}

.quantity-desc .minus {
  color: #f02d34;
}

.quantity-desc .num {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.quantity-desc .plus {
  color: rgb(49, 168, 49);
}

.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 10px;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

.warning-container .stock-warning {
  margin-top: 3px;
}
